# .env file
PRIVATE_KEY=your_private_key_here
BASE_RPC_URL=your_base_network_rpc_url
BASE_PATCHWORK_OWNER=base_patchwork_owner_address
BASE_PATCHWORK_ADDRESS=base_patchwork_address
BASE_CHAIN_ID=8453
SEPOLIA_RPC_URL=your_sepolia_network_rpc_url
SEPOLIA_PATCHWORK_OWNER=sepolia_patchwork_owner_address
SEPOLIA_CHAIN_ID=11155111
SEPOLIA_PATCHWORK_ADDRESS=0x635BDfB811Ef377a759231Ac3A2746814A93a7B8

